body {
	background-color: #88d3d8;
	color: #666666;
	font-family: Courier New;
}

.todo-box {
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
}

.column {
	width: 300px;
	min-height: 400px;
	max-height: 400px;
	background-color: #FFFFFF;
	border-left: 3px solid #666666;
	text-align: center;
	display: inline-block;
	overflow: scroll;
}

.add-task {
	display: flex;
	justify-content: space-around;
}

h1 {
	text-align: center;
	font-weight: bold;
}

input:focus {
    outline:none;
}

