.navigation {
  .navigation__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333333;
      position: fixed;
      height: 100%;
      width: 3.4%;
    .navigation__item {
      .navigation__link {
        display: block;
        color: #FFFFFF;
        padding: 8px 16px;
        text-decoration: none;
      }
    }
  }
}

.navigation__logo {
    height: 35px;
    width: 3.4%;
    background: #CCCCCC;
    color: #CCCCCC;
  }

.navigation__item {
  width: 30px;
  height: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  background: #333333;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 20px;
}

.list--reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation__sub-list  {
  padding-left: 1em;
}
.navigation__item {
  float: left;
}
.navigation__link {
  font-weight: 600;
  color: #000000;
  background: #ccc;
  display: inline-block;
  padding: 0.5em;
}
.navigation__sub-list .navigation__link {
  background: #000000;
  color: #cccccc;
}
